<div class="container" >
        <div id="wrapper">
        <div class="col-2 col-md-auto" id="onlineUsers">
          <div class="card" style="width: 20rem;height:30rem;">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Online Users</h4>
              <ul></ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-4 frame card" id="chatboxHistory" style="height:30rem">
           <p *ngif= 'let message of messages' >{{message}} 
              
        
          </p></ul>
          <div>
              <div class="msj-rta macro" style="margin:auto">                        
                 <div class="text text-r" style="background:whitesmoke !important">
                      <app-message></app-message>
                      checking
                  </div>
              </div>
          </div>
      </div>  
      </div> 
      </div>




