
.frame{
  background: #6b8fc5 ;
  height:auto;
  overflow:hidden;
  width: 300px;
  border: 10px solid rgb(240, 4, 36);
  padding: 10px;
  margin: 10px;
}

ul {
    width:100%;
    list-style-type: none;
    padding:2px;
    position:absolute;
    display:flex;
    flex-direction: column;

}

#wrapper {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 770px;
    border: 1px solid rgb(5, 26, 9);
    background: rgba(248, 245, 245, 0.788);
    overflow: hidden; 
}
#onlineUsers {
    background: rgba(118, 129, 134, 0.788);
    float:left; /* add this */
    /* border: 1px solid red; */

}
#chachatboxHistoryt2 {
    /* border: 1px solid green; */
    float: right;
    overflow: hidden; /* if you don’t want #second to wrap below #first */
}