.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
/* message body backGround */
.frame{
    background:#e0e0de ;
    height:60px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:5px;width:100%;display:flex;
}

ul {
    width:100%;
    list-style-type: none;
    padding:30px;
    position:absolute;
    bottom:320px;
    display:flex;
    flex-direction: column;

}

#wrapper {
    width: 770px;
    border: 1px solid gray;
    background: rgba(114, 108, 108, 0.788);
    overflow: hidden; /* will contain if #first is longer than #second */
}
#onlineUsers {
    /* width: 300px; */
    float:left; /* add this */
    /* border: 1px solid red; */

}
#chachatboxHistoryt2 {
    /* border: 1px solid green; */
    float: right;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
